@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 43% 5%; /* #070a11 */
    --foreground: 219 50% 84%; /* #dde6f5 */
    --card: 220 39% 9%; /* #0e1420 */
    --card-foreground: 219 50% 84%;
    --popover: 220 39% 9%;
    --popover-foreground: 219 50% 84%;
    --primary: 200 100% 67%; /* #58c8ff */
    --primary-foreground: 205 75% 6%; /* #04121c */
    --secondary: 219 40% 28%; /* #34466f */
    --secondary-foreground: 219 50% 84%;
    --muted: 220 22% 57%; /* #7c8aa8 */
    --muted-foreground: 222 17% 43%; /* #5c6883 */
    --accent: 200 100% 67%;
    --accent-foreground: 205 75% 6%;
    --destructive: 357 100% 72%; /* #ff7b72 */
    --destructive-foreground: 0 0% 100%;
    --border: 223 37% 18%; /* #1d2740 */
    --input: 223 37% 18%;
    --ring: 200 100% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-decimen-bg text-decimen-text;
  }
}